body {
  padding-top: 5rem; }

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center; }

.table-actions a {
  background: #fff;
  border: none;
  border-radius: 50%; }
  .table-actions a:hover {
    background: #f1f2f3; }
.table-actions .btn-success {
  color: #00512D; }
.table-actions .btn-danger {
  color: #9E1600; }
.table-actions .btn-primary {
  color: #0068a7; }

article {
  width: 600px;
  max-width: 100%;
  max-height: 700px; }

/*# sourceMappingURL=starter-template.css.map */
